body {
  background: linear-gradient(rgb(243, 243, 243), rgb(190, 189, 189), rgb(240, 240, 240), rgb(177, 177, 177), rgb(218, 218, 218), rgb(136, 136, 136));
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

.card {
  width: 25%;
  background: transparent 0.8%;
  border: 2px solid black;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

h2 {
  border: 2px solid black;
  text-align: center;
}

.bugs {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 75%; */
  max-height: 50%;
  padding: none;
  margin-bottom: 2px;
  /* border: 2px solid black; */
}

img {
  max-height: 90%;
  max-width: 75%;
}
