body {
  background: linear-gradient(rgb(80, 79, 79), rgb(46, 46, 46), rgb(97, 96, 96), rgb(88, 88, 88), rgb(53, 53, 53), rgb(22, 22, 22));
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

.card {
  width: 25%;
  background: transparent 0.8%;
  border: 1px solid lightblue;
  height:95vh;
  color: lightblue;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: lightgray;
}

h2 {
  /* border: 1px solid lightblue; */
  text-align: center;
}

.bugs {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 75%; */
  max-height: 50%;
  padding: none;
  margin-bottom: 2px;
  /* border: 2px solid black; */
  border: 1px solid lightblue;

}

img {
  /* max-height: 90%; */
  max-width: 75%;
  margin-top: 10px;
  height: 30vh;
  margin-bottom: 10px;
}

.available {
  background-color: rgb(159, 177, 3);
  margin: 0;
  width: 100%;
}

.notAvailable{
  background-color: red;
}

.card-text {
height: 10vh;
}
